<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="Qh2Dy0gm015yIk3lIHh4V06e8XHd7_diCH1POkaaHX0" />
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/phdetails">The PhDetails Blog</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://github.com/RishiDeKayne">github.com/RishiDeKayne</a></li>
   </ul>
  </footer>
  </body>

</html>
